.form_input {
  width: 566px;
  height: 54px;
  border-radius: 14px;
  box-shadow: 5px 5px 37px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  padding: 10px 21px;
}
/* .placeholder:after {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  content: '*';
} */
.form_input_placeholder::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
}
.form_input_placeholder::-webkit-input-placeholder{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
}
.form_input_placeholder::-moz-placeholder{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
}
.form_input_placeholder:-ms-input-placeholder{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
}
.form_input_placeholder:-moz-placeholder{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
}
.star {
  margin-left: 6px;
  color: #ff0000;
}
.starPlaceHolder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.37);
  position: absolute;
  top: 30%;
  left: 4%;
}
@media (max-width: 834px) {
  .form_input {
    width: 512px;
    height: 49px;
  }
  .form_input_placeholder::placeholder {
    font-size: 13px;
    padding-left: 19px;
  }
  .form_input_placeholder::-webkit-input-placeholder{
    font-size: 13px;
    padding-left: 19px;
  }
  .form_input_placeholder::-moz-placeholder{
    font-size: 13px;
    padding-left: 19px;
  }
  .form_input_placeholder:-ms-input-placeholder{
    font-size: 13px;
    padding-left: 19px;
  }
  .form_input_placeholder:-moz-placeholder{
    font-size: 13px;
    padding-left: 19px;
  }
  .starPlaceHolder{
    font-size: 13px;
    padding-left: 19px;
  }
}

@media (max-width: 561px) and (min-width: 412px) {
  .form_input {
    width: 380px;
  }
  .starPlaceHolder{
    top: 20%;
  }
}
@media (max-width: 412px) {
  .form_input {
    width: 345px;
    height: 44px;
  }
  .form_input_placeholder::placeholder{
    font-size: 11px;
    padding-left: 18px;
  }
  .form_input_placeholder::-webkit-input-placeholder{
    font-size: 11px;
    padding-left: 18px;
  }
  .form_input_placeholder::-moz-placeholder{
    font-size: 11px;
    padding-left: 18px;
  }
  .form_input_placeholder:-ms-input-placeholder{
    font-size: 11px;
    padding-left: 18px;
  }
  .form_input_placeholder:-moz-placeholder{
    font-size: 11px;
    padding-left: 18px;
  }
  .starPlaceHolder{
    font-size: 11px;
    padding-left: 19px;
    top: 20%;
  }
}
