.hero {
  margin-bottom: 20px;
  padding: 53px 65px 37px 65px;
  max-width: 100%;
  background-color: #788f81;
  color: #ffff;
}

.main {
  width: 428px;
  margin-left: 165px;
  margin-bottom: 226px;
}
.main-title {
  margin-bottom: 33px;
}
.main-description {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 33px;
}
.acent {
  color: #ff0000;
}
