.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modalBody {
  position: relative;
  padding: 2rem;
  width: 400px;
  height: 354px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.closeButton{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(0, 71, 255, 0.67) 0%,
    rgba(255, 245, 0, 0.79) 100%
  );
  box-shadow: 6px 4px 23px rgba(255, 245, 0, 0.19);
  border-radius: 16px;
  border: none;
  width: 224px;
  height: 54px;
}
.modalText{
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.modalTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #5987FA;
  margin-bottom: 21px;
}
.modalErrorTitle{
  color: #FF0000;
}
.modalLogo{
  width: 154px;
  height: 169px;
  position: absolute;
  top:58%;
  left: 64%;
}
