.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 219px;
}

.nav-list {
  display: flex;
}
.nav-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.nav-item:not(:last-child) {
  margin-right: 43px;
}
.contacts {
  display: flex;
}
.contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 18px;
}
@media (max-width: 834px) {
  .contacts-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-right: 18px;
  }
  .nav-item:not(:last-child) {
    margin-right: 27px;
  }
  .nav-item {
    font-size: 12px;
    line-height: 15px;
  }
  .logo-header {
    width: 146px;
  }

  .header {
    margin-bottom: 143px;
  }
}
@media (max-width: 428px) {
  .header {
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
  }
  .nav-item {
    font-size: 10px;
    line-height: 12px;
  }

  .logo-header {
    width: 102px;
    margin-bottom: 18px;
    align-self: flex-start;
  }
  .contacts {
    position: absolute;
    right: 0;
  }
}
