.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 219px;
}

.nav-list {
  display: flex;
}
.nav-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.nav-link {
  position: relative;
}
.nav-link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--second-color);
  transition: width 500ms;
}

.nav-link:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: var(--second-color);
  transition: width 500ms;
}
.nav-item:not(:last-child) {
  margin-right: 43px;
}
.contacts {
  display: flex;
}
.contacts-item {
  margin-right: 25px;
}
.icon {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.icon:hover,
.icon:focus {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg) scale(1.2);
}
@media (max-width: 729px) and (min-width: 429px) {
  .nav-item {
    font-size: 10px;
    line-height: 13px;
  }
  .nav-item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 834px) {
  .nav-item:not(:last-child) {
    margin-right: 27px;
  }

  .logo-header {
    width: 146px;
    margin-right: 10px;
  }

  .header {
    margin-bottom: 143px;
  }
}
@media (max-width: 428px) {
  .header {
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
  }
  .nav-item {
    font-size: 10px;
    line-height: 12px;
  }
  .logo-header {
    width: 102px;
    margin-bottom: 18px;
    align-self: flex-start;
  }
  .contacts {
    position: absolute;
    right: 0;
  }
}
