.app {
  /* max-width: 1440px; */
  margin: 0 auto;
  overflow: hidden;
  background-image: url('../img/PlanetLeft.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 834px) {
}
@media (max-width: 428px) {
  /* .app {
    max-width: 428px;
      } */
}
