.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 65px 53px 65px;
}
.footer-contacts {
  display: flex;
}
.footer-contacts-item {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg) scale(1.2);
}

.footer-contacts-item:not(:last-child) {
  fill: black;
  margin-right: 18px;
}

.footer-bottom-row {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.footer-arrow-up {
  height: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footer-arrow-up:hover,
.footer-arrow-up:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer-contacts-text {
  width: 300px;
  font-size: 12px;
  margin-right: 18px;
}

@media (max-width: 834px) {
  .footer {
    padding: 0 30px 35px 30px;
  }
}
@media (max-width: 538px) {
  .footer {
    flex-direction: column;
    padding-bottom: 30px;
    flex-direction: column-reverse;
  }
  .footer-logo {
    margin-bottom: 18px;
  }

  .footer-bottom-row {
    width: 100%;
    display: flex;

    justify-content: space-between;
  }
  .footer-arrow-up {
    height: 36px;
  }
}
